הנה פרק CHAPTER בספר BOOK_NAME:

TEXT

סכם לי את הפרק ב-100 מילים. אני רוצה להניח את סיכומי כל הפרק זה אחר זה. ולכן השתדל לספר את העלילה ללא הקדמות כמו "פרק זה מספר" וכד'.

 על התשובה להיות בפורמט ה-JSON הבא: 
JSON_SAMPLE

שים לב שעל כל התיאורים להיות בעברית. הקפד על אזכור כל הדמויות המופיעות בפרק וציין את המקומות החשובים שעלי לזכור למבחן בקיאות. הדגש כאן הוא על מידע החשוב לדעת לקראת מבחן בקיאות.
