{
    "chapter": "מלכים א' פרק א'",   // put here the book and chapter name
    "synopsis": "המלך דוד זקן ואינו מתפקד, וצוות משרתיו מביא את אבישג השונמית כסוכנת-מאהבת. בנו של דוד, אדוניהו בן חגית, מנצל את חולשת אביו וממליך עצמו ביוזמתו, בעזרתם של יואב שר הצבא ואביתר הכהן, בטקס זבח שנערך ליד עין רוגל. נתן הנביא ובת-שבע (אם שלמה) פועלים במהירות ומדווחים לדוד על ניסיון ההפיכה. דוד נזכר בשבועתו ומורה למנות את שלמה כיורש באופן מיידי. צדוק הכהן, נתן הנביא ובניהו בן יהוידע מושחים את שלמה למלך על פרדת דוד בגיחון. קול השמחה מרעיד את העיר ומבהיל את אדוניהו, שבורח ואוחז בקרנות המזבח. שלמה חס עליו זמנית ושולח אותו לביתו.", // put here 100 words synopsis of the chapter. 
    "characters": [ // put here list *ALL* characters mentioned in the chapter
        {
            "name": "צדוק הכהן", // put here the name of the character
            "description": "כהן בירושלים בימי דוד ושלמה. הכהן שמשח את שלמה בגיחון. נשאר כהן ראשי אחרי הדחת אביתר." // put here a one or two lines description of the character
        },
        {
            "name": "אביתר הכהן", // put here the name of the character
            "description": "כהן גדול בימי דוד. תומך באדוניהו במלחמת הירושה. מוכה על ידי שלמה ומודח מכהונתו." // put here a one or two lines description of the character
        },
        {
            "name": "יואב בן צרויה", // put here the name of the character
            "description": "שר הצבא של דוד. תומך באדוניהו במלחמת הירושה. נרצח על ידי שלמה בעקבות תמיכתו באדוניהו." // put here a one or two lines description of the character}
        },
        /// add more characters as needed
    ],
    "places": [
        {
            "name": "אבן הזוחלת, עין רוגל", // put here the name of the place
            "description": " מעיין סמוך לעיר דוד. מקום בו אדוניהו ממליך עצמו" // put here a one or two lines description of the place
        },
        {
            "name": "גיחון", // put here the name of the place
            "description": "מעיין בירושלים. מקום בו שלמה משח למלך על ידי צדוק הכהן ונתן הנביא." // put here a one or two lines description of the place
        },
        /// add more places as needed
    ]
}
